#container {
    width: 75%;
    margin: 0 auto;
}
.acc-edit-box {
    width: 300px;
}
.acc-edit-btn {
    float: right;
}

.dialog-pos-fix {
    top: 0 !important;
    position: absolute !important;
    width: 100% !important;
}

.checkbox-detail {
    margin-right: 40px;
    display: inline-flex;
}
.checkbox-detail-icon {
    padding-top: 8px !important;
    padding-right: 0 !important;
}
.checkbox-check {
    padding-top: 5px;
    white-space: pre;
}


.appTopBar-login {
    color: white;
    display: inline-block;
    padding-bottom: 20px;
}

.dropdown-detail {
    display: flex;
}
.dropdown-detail-icon {
    margin-right: 0px;
    margin-top: 10px;
}
.dropdown-check {
}
.dropdown-detail-check {
    display: inline-block;
}


.items-select {
    display: flex;
}
.items-select-text {
    margin-top: 15px;
    white-space: pre;
}

.num-field {
    margin-left: 10px;
    width: 70px !important;
}

.ids-iterate-header {
    font-weight: bold;
    padding-bottom: 20px;
    margin-left: 15px;
}
.ids-iterate-source {
}
.ids-iterate-filters {
    margin-top: 20px;
}
.ids-iterate-actions {
    margin-top: 10px;
}

.ids-iterate-source-title {
    font-weight: bold;
    margin-top: 24px;
    white-space: pre;
}
.ids-iterate-delays {
    margin-top: 7px;
    margin-left: 25px;
}


.ids-iterate-on-actions {
    margin-top: 20px;
    margin-bottom: 10px;
}

.ids-iterate-on-actions-btns {
    display: flex;
}

.ids-iterate-on-actions-btns-box {
}
.ids-iterate-on-actions-btns-ok {
    background-color: aquamarine;
}
.ids-iterate-on-actions-btns-fail {
    background-color: lightpink;
}


.action-onOK {
    color: aqua;
}


.accounts-ui__field {
    margin-left: 150px;
}
.accounts-ui__form-buttons {
    margin-top: 50px;
}

.messenger-acc-list {
    display: flex;
}
.messenger-dialogs-list {
    display: flex;
}
.messenger-left-select {
    display: flex;
}
.messenger-history {
    margin-left: 0px;
    width: 100%;
    height: 500px;
    overflow-x: overlay;
}
.messenger-box {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
}
.message-right-box {
    display: block;
    width: 80%;
    margin-left: 100px;
}
.message-in {
    background-color: aqua;
}
.message-out {
    background-color: cadetblue;
    text-align: right;
}
.message-unread {
    background-color: chartreuse;
}


.num-range-field {
    width: 100px !important;
    margin: 0px 10px;
}

.checkbox-with-fields {
    display: flex;
}
.xs {
    width: 200px;
    margin-top: 10px;
}

.task-table-header th:first-child {
    display: none;
}


.reg-accs-top {
    display: flex;
}
.reg-accs-selects {
    margin: 0 auto;
}
.reg-accs-pass {
    margin: 0px 10px;
}


.left-nav-back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.left-nav-back-text {
    margin-left: 10px;
    font-weight: bold;
}

.right-btn {
    float: right;
}

.checkbox-group-title {
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 15px;
    padding-top: 10px;
}
.checkbox-group {
    display: flex;
}

.desc-example {
    display: inline-block;
    padding: 5px 5px;
    line-height: 1.4em;
}
